@import 'config';
@import 'utilities';
@import 'modal';
@import 'form';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4 {
	margin: 0;
	text-transform: capitalize;
}

// Main Layout
main {
	margin-left: $sidebar-width;
	position: absolute;
	width: calc(100vw - $sidebar-width);
	right: 0;
}

aside {
	min-height: calc(100vh - $navbar-height);
	font-size: 14px;
	width: $sidebar-width;
	position: absolute;
	top: $navbar-height;

	svg {
		width: 20px;
	}

	background-color: #fafafa;
	& > div:hover {
		cursor: pointer;
	}
}

@media screen and (max-width: 700px) {
	main {
		width: 100vw;
		margin-left: 0;
		position: static;
		right: 0;
	}
	aside {
		display: none;
	}
}

// Navbar

.navbar {
	display: flex;
	padding: 0 3rem;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	height: $navbar-height;
	background-color: $primary-color;
	color: #fff;

	img {
		width: 28px;
		height: 28px;
	}

	.search-bar {
		background: transparent;
		color: #fff;

		&::placeholder {
			color: #fff;
		}
	}
}

@media screen and (max-width: 700px) {
	.navbar form {
		display: none !important;
	}
}

// Tasker Form

.tasker-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0.5rem 0;
	gap: 1rem;
	margin-bottom: 1rem;

	input,
	select {
		max-width: 100%;
	}
}

// Todo Item

.todo {
	border-bottom: 1px solid #ccc;
	padding: 1rem 0;

	&-actions {
		visibility: hidden;
		transition: visibility ease;
	}

	&-title {
		margin: 0;
	}

	&:hover {
		.todo-actions {
			visibility: visible;
		}
	}
}

.todo-edit {
	width: 100%;
	margin: 1rem 0;
	border: 1px solid $primary-color;

	input {
		display: block;
		width: 100%;
		border: 0;
	}
}

// Checkbox circle

.check-btn {
	width: 24px;
	height: 24px;
	padding: 0;
	display: grid;
	background-color: transparent;
	place-content: center;
	border-radius: 50%;

	svg {
		display: none;
		width: 25px;
		height: 25px;
		color: #fff;
	}

	&_active {
		border: none;
		background-color: #66bb6a;
		svg {
			display: block;
		}
	}
}

// Sign Page

.sign-split {
	display: flex;
	height: 100vh;
	flex-direction: row;

	.sign-form {
		padding: 15px;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex: 1;

		button {
			margin: 0 auto;
			margin-bottom: 1rem;
		}
	}

	#signup {
		background-color: #cd473b;
		color: #fff;
	}
}

@media screen and (max-width: 700px) {
	.sign-split {
		flex-direction: column;
		height: 200vh;

		.sign-form {
			height: 100vh;
		}
	}
}
