$primary-color: #cd473b;

@import 'utilities';
@import 'modal';
@import 'form';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

// Main
main {
	margin-left: 13rem;
	position: absolute;
	width: calc(100vw - 13rem);
	right: 0;
}

@media screen and (max-width: 700px) {
	main {
		width: 100vw;
		margin-left: 0;
		position: static;
		right: 0;
	}
}

// Navbar

.navbar {
	display: flex;
	padding: 0 3rem;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	height: 3.5rem;
	background-color: $primary-color;
	color: #fff;

	img {
		width: 28px;
		height: 28px;
		// display: none;
	}
}

.tasker-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0.5rem 0;
	gap: 1rem;
	margin-bottom: 1rem;

	input,
	select {
		max-width: 100%;
	}
}

.card {
	border: 1px solid $primary-color;
	border-radius: 5px;
	padding: 0 1rem;

	h4 {
		word-wrap: break-word;
	}
}

.tag {
	background-color: $primary-color;
	padding: 0.5rem;
	color: #fff;
	border-radius: 5px;
	justify-self: flex-end;
}

section {
	display: grid;
	grid-template-columns: repeat(1, 1fr 4fr);
}

aside {
	min-height: calc(100vh - 3.5rem);
	font-size: 14px;
	width: 13rem;
	position: absolute;
	top: 3.5rem;

	svg {
		width: 20px;
	}

	background-color: #fafafa;
	& > div:hover {
		cursor: pointer;
	}
}

.mb {
	margin-bottom: 1.5rem;
}
.mt {
	margin-top: 1rem;
}

@media screen and (max-width: 700px) {
	nav form {
		display: none !important;
	}

	aside {
		display: none;
	}

	section {
		display: block;
	}
}

.search-bar {
	background: transparent;
	color: #fff;

	&::placeholder {
		color: #fff;
	}
}

// .rotate-hover:hover {
// 	transform: rot;
// }

.rounded {
	border-radius: 50%;
}

.modal {
	@extend .card;
	padding: 1rem;
	position: absolute;
	width: 400px;
}

.signup {
	// background-color: rgb(160, 142, 142);
	@extend .card;
	padding: 1rem;
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.todo {
	border-bottom: 1px solid #ccc;
	padding: 1rem 0;

	&-actions {
		visibility: hidden;
		transition: visibility ease;
	}

	&:hover {
		.todo-actions {
			visibility: visible;
		}
	}
}

.todo-edit {
	width: 100%;
	margin: 1rem 0;
	border: 1px solid $primary-color;

	input {
		display: block;
		width: 100%;
		border: 0;
	}
}

// Checkbox circle
.round {
	position: relative;
}

.check-btn {
	width: 24px;
	height: 24px;
	padding: 0;
	display: grid;
	background-color: transparent;
	place-content: center;
	border-radius: 50%;

	svg {
		display: none;
		width: 25px;
		height: 25px;
		color: #fff;
	}

	&_active {
		border: none;
		background-color: #66bb6a;
		svg {
			display: block;
		}
	}
}
